//@theme "/usr/local/share/rofi/themes/arthur.rasi"
//@theme "/usr/local/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/local/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/local/share/rofi/themes/gruvbox-dark-hard.rasi"
@theme "/usr/local/share/rofi/themes/gruvbox-dark-hard.rasi"
